Source: eegdev
Section: libs
Priority: extra
Maintainer: Nicolas Bourdaud <nicolas.bourdaud@epfl.ch>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev,
 libxdffileio-dev, libusb-1.0-0-dev
Standards-Version: 3.9.2
Homepage: http://cnbi.epfl.ch/software/eegdev.html

Package: libeegdev0
Section: libs
Architecture: any
Depends: libeegdev0-free (= ${binary:Version}) | libeegdev0-gtec (= ${binary:Version})
Description: Library to acquire data from various EEG recording devices
 eegdev is a library that provides a unified interface for accessing an EEG
 recording system (the development targets mainly Biosemi and g.Tec system)
 and can be used as well to playback data in the software stack. In
 addition, it helps the implemention of new drivers by sharing part of code
 common to all drivers.
 .
 This package contains the metapackage that will install one of the flavors
 of the library

Package: libeegdev0-free
Section: libs
Architecture: any
Conflicts: libeegdev0-gtec
Depends: libeegdev0 (= ${binary:Version}), ${shlibs:Depends}
 ${misc:Depends}
Description: Library to acquire data from various EEG recording devices
 eegdev is a library that provides a unified interface for accessing an EEG
 recording system (the development targets mainly Biosemi and g.Tec system)
 and can be used as well to playback data in the software stack. In
 addition, it helps the implemention of new drivers by sharing part of code
 common to all drivers.
 .
 This package contains the shared library configured to depends on only on
 free libraries

Package: libeegdev0-gtec
Section: libs
Architecture: any
Conflicts: libeegdev0-free
Depends: libeegdev0 (= ${binary:Version}), ${shlibs:Depends},
 ${misc:Depends}
Description: Library to acquire data from various EEG recording devices (gTec backend)
 eegdev is a library that provides a unified interface for accessing an EEG
 recording system (the development targets mainly Biosemi and g.Tec system)
 and can be used as well to playback data in the software stack. In
 addition, it helps the implemention of new drivers by sharing part of code
 common to all drivers.
 .
 This package contains the shared library configured to support gTec gUSBamp
 system as well as free backends.

Package: libeegdev-dev
Provides: libeegdev0-dev
Conflicts: libeegdev0-dev
Section: libdevel
Architecture: any
Depends: libeegdev0 (= ${binary:Version}), ${misc:Depends}
Description: Library to acquire data from various EEG recording devices (Developement files)
 eegdev is a library that provides a unified interface for accessing an EEG
 recording system (the development targets mainly Biosemi and g.Tec system)
 and can be used as well to playback data in the software stack. In
 addition, it helps the implemention of new drivers by sharing part of code
 common to all drivers.
 .
 This package contains the files needed to compile and link programs which
 use eegdev
