#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VARIANTS = gtec default

PACKAGE_gtec = -plibeegdev0-gtec
CONFFLAGS_gtec = --with-gtec --with-act2 --with-xdf

PACKAGE_default = --remaining-packages
CONFFLAGS_default = --without-gtec --with-act2 --with-xdf

%:
	dh  $@

override_dh_auto_configure: $(foreach v,$(VARIANTS),auto_configure-$(v))
override_dh_auto_build: $(foreach v,$(VARIANTS),auto_build-$(v))
override_dh_auto_install: $(foreach v,$(VARIANTS),auto_install-$(v))
override_dh_auto_clean: $(foreach v,$(VARIANTS),auto_clean-$(v))
override_dh_install: $(foreach v,$(VARIANTS),install-$(v))

auto_configure-%:
	dh_auto_configure $(PACKAGE_$*) --builddirectory=debian/build/$* -- $(CONFFLAGS_$*)

auto_build-%:
	dh_auto_build $(PACKAGE_$*) --builddirectory=debian/build/$*

auto_install-%:
	dh_auto_install $(PACKAGE_$*) --builddirectory=debian/build/$* --destdir=debian/tmp/$*

auto_clean-%:
	dh_auto_clean $(PACKAGE_$*) --builddirectory=debian/build/$*

install-%:
	dh_install $(PACKAGE_$*) --sourcedir=debian/tmp/$*
